@model ASM.Models.Category_Course
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Category</a> </div>
    <h1>Category</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form action="AddCategory" method="POST" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Category ID :</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.CategoryID)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Category Name</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Category_Name)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                @Html.TextAreaFor(x => x.Description)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button name="action" value="save_new_category" type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>